<!-- <form [formGroup]="taskForm">
  <div formArrayName="tasks">

    <div *ngFor="let _ of tasks.controls; let i = index">
      <!-- The repeated workingTime template
      <ng-container label="listing" [formGroupName]="i">
        <mat-label for="name">Task Name: </mat-label>
        <input
          matInput
          id="name"
          type="text"
          formControlName="name"
        />

        <mat-label for="id">Task Status: </mat-label>
        <input
          matInput
          id="id"
          type="text"
          formControlName="id"
        />
      </ng-container>
    </div>
    <button mat-button (click)="addTask()" type="button">
      + Add a new task
    </button>
  </div>

  <hr />
  <p>Form Status: {{ taskForm.value | json }}</p> -->

  <h2>Current Tasks</h2>
  <div>
    <app-task-list></app-task-list>
    <hr />
    <button mat-raised-button color="primary" (click)="openDialog()">Add New Task</button>
    <button mat-raised-button color="primary"  class="clear"
          (click)="taskService.clear()">Clear messages</button>
  </div>
