<iframe
  src="https://form.typeform.com/to/H81Mb7nu?typeform-embed-id=08414716288014312&amp;typeform-embed=embed-widget&amp;typeform-source=localhost&amp;typeform-medium=embed-sdk&amp;typeform-medium-version=next"
  data-testid="iframe"
  style="transform: translateZ(0px); width: 46em; height: 30em"
></iframe>
<mat-dialog-actions
  ><button mat-raised-button color="primary" (click)="onSubmit()">
    Finished The Quiz
  </button>
  <button mat-raised-button color="primary" (click)="onCancel()">
    Cancel
  </button></mat-dialog-actions
>
