<ul *ngIf="taskService.tasks.length">
      <li *ngFor="let task of taskService.tasks">
          {{ task.name }}
          <span class="button-row">
          <span *ngIf="task.status < 0">
            <button
              mat-raised-button
              color="accent"
              (click)="openTypeformDialog(task.id)"
            >
              Get Help
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="openManualTaskDialog(task.id)"
            >
              Do It Yourself
            </button>
          </span>
          <button
            mat-raised-button
            color="accent"
            (click)="openDeleteTaskDialog(task.id)"
          >
            Delete Task
          </button>
        </span></li>

    </ul>
    <div *ngIf="taskService.tasks.length == 0">
      <mat-card-subtitle>No tasks yet! Add one below!</mat-card-subtitle>
    </div>
