@use "@angular/material" as mat;

@include mat.core();

// Define a dark theme
$dark-primary: mat.define-palette(mat.$indigo-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);
@include mat.input-theme($dark-theme);

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

